
body{
    background-image:url(./imagenes/pokedex.png),url(./imagenes/pokeground.jpg);
    background-repeat: no-repeat;
    background-position: center 0px;

}
#pokeImg{
    height: 350px;
    width: 334px;
    margin: 75px 220px; 
    border-radius: 5px;
    background-color: gray;
}
.busqueda{
    align-items: center;
    margin: -100px 655px;
    height: 50px;
    width: 302px;
    background-color: grey;
}
.pokeEstadisticas{
    background-color: grey;
    color: brown;
    width: 300px;
    height: 350px;
    margin: -390px 656px;
    font-size: 25px;
}
@media (max-with: 600px){
    body{
        background-color: black;
    }
}